img {
    width: 100%;
}
.row {
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* align-items: center; */
    /* align-items: flex-end; */
    /* align-items: flex-start; */
    /* align-content: center; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
}

.col {
    background-color: lightblue;
    border: 2px solid red;
    padding: 10px;
}

.col-1 {
    /* width: 20%; */
    flex-basis: 20%;
    /* align-self: center; */
    align-self: flex-start;
}
.col-2 {
    /* width: 55%; */
    flex-basis: 50%;
    flex-grow: 0.5;
}
.col-3 {
    /* width: 15%; */
    flex-basis: 15%;
}

ul {
    margin: 50px 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
ul li {
    height: 200px;
    width: 400px;
    /* width: 23%; */
    margin-bottom: 20px;
    background-color: red;
    border: 2px solid;
}